<div class="header-container">
  <div class="items">
    <a routerLink="" class="logo-link">
      <img class="logo" [src]="'assets/Sogeti_logo.png'" alt="Logo" />
    </a>
    <div class="nav-buttons">
      <button [routerLink]="['homepage']" [routerLinkActive]="'active'">
        Home
      </button>
      <button [routerLink]="['learn']" [routerLinkActive]="'active'">
        Learn
      </button>
      <button [routerLink]="['check']" [routerLinkActive]="'active'">
        Check
      </button>
      <button [routerLink]="['exam']" [routerLinkActive]="'active'">
        Exam
      </button>
    </div>
  </div>
</div>
