<div class="Welcome">
  <section class="about-section">
    <h2>ISTQB 3,1 Prüfung Simulator</h2>
    <p>
      Willkommen auf unserer Bildungsplattform! Entdecken Sie unsere Lernmodi,
      um zu üben, Ihr Verständnis zu überprüfen und Prüfungen zu simulieren.
      Steigern Sie Ihre Lernerfahrung mit interaktiven Tools, die darauf
      ausgelegt sind, Ihr akademisches Wachstum zu unterstützen.
    </p>
  </section>
</div>
<br />
<br />
<section class="mode-section">
  <a routerLink="/learn" class="hover-color">
    <h2>Learn Mode</h2>
    <p>Üben und lernen Sie in Ihrem eigenen Tempo.</p>
  </a>
</section>

<section class="mode-section">
  <a routerLink="/check/0" class="hover-color">
    <h2>Check Mode</h2>
    <p>Überprüfen Sie Ihre Antworten und erhalten Sie sofortiges Feedback.</p>
  </a>
</section>

<section class="mode-section">
  <a routerLink="/exam/0" class="hover-color">
    <h2>Exam Mode</h2>
    <p>Simulieren Sie eine Prüfungsumgebung, um Ihr Wissen zu testen.</p>
  </a>
</section>
